* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
@font-face {
  font-family: myFirstFont;
  src: url(Images/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
  font-family: Brown-Sugar;
  src: url(Images/Brown\ Sugar\ .ttf);
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 450px;
  left: 60%;
}
.image3 {
  position: absolute;
  top: 300px;
  left: 20%;
  border-radius: 15px 15px 15px 15px;
  /* opacity : 1 !important; 
    visibility: visible !important; */
}
.image4 {
  position: absolute;
  top: 0px;
  left: 35%;
}
.image5 {
  position: absolute;
  top: 300px;
  left: 10%;
}
.image6 {
  border-radius: 5px 5px 5px 5px;
}
.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.shad:hover {
  background-color: white;
  color: black;
}

.card-text {
  font-size: 1vw;
}

.headf {
  display: flex;
  width: 100%;
  max-height: 30px;
  /* background-image: url("Images\header-bg-1.jpeg"); */
  width: 100%;
  height: 100%;
  background-color: #2f4f4f;
  /* background-image: radial-gradient(#000 5%, transparent 20%),
    radial-gradient(#000 5%, transparent 20%);
  background-size: 50px 50px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat; */
}



.fh {
  /* display: flex; */
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 0px 5px 0px;
}

/* .sf {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 0px 5px 350px;
} */

.feed {
  color: white;
  text-decoration: none;
}

.feed:hover {
  color: black !important;
  text-decoration: underline;

}

/* .atp {
  color: black;
  text-decoration: none;
} */

/* .au {
  color: black;
  text-decoration: none;
} */

/* .atp:hover {
  color: black !important;
  text-decoration: underline;
  background-color: wheat;
} */

/* .au:hover {
  color: gray;
  text-decoration: underline;
} */

.sl {
  color: white;
}
.about-sec{
  display: flex;
  background-color: black;
  height: auto;
}

/* .about-imag{
  width: 800px;
  height: auto;
} */

.about-text{
  color: rgb(145, 111, 23);
  font-family: Brown-Sugar;
}

.exp{
  font-size: 200px;
  justify-content: center;
  margin-top: 10px;
  padding-left: 50px;
}

.bhp{
  font-size: 200px;
  justify-content: center;
  /* line-height: 20px; */
  padding-left: 125px; 
}

.intro{
    background-color: black;
    width: 400px;
    height: 500px;
    border: 7px  solid;
    border-color:rgb(145, 111, 23);
    padding: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 70px;
    border-radius: 90px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.intro p{
  padding-bottom: 20px;
  font-family: 'Times New Roman', Times, serif; 
  font-size: 19.5px;
}

.intro p i{
  color: white; 
}

